# ignore folders
/implementation/build/
/implementation/nbproject/

# ignore files
/implementation/lib/nblibraries.properties
/implementation/nbbuild.xml

# ignore all files inside dist folder
/implementation/dist/*

# do not ignore dist folder itself

# also do not ignore the create jarfiles
!/implementation/dist/*.jar
